<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DotNetCoreLESSandSASS</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="rounded-corners-all">
        <h1>Demonstrating LESS and SASS in Dotnet Core 3</h1>        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted rounded-corners-all">
        <div class="container">
            &copy; 2019 - DotNetCoreLESSandSASS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
