@{
    ViewData["Title"] = "Home Page";
}


<h2>Home Page</h2>

<h3>Section 1</h3>
<section>
    <a>Link not inside list</a>
</section>

<h3>Section 2</h3>
<section>
    <ul>
        <li>List Item not link 1</li>
        <li>List Item not link 2</li>
        <li>List Item not link 3</li>
    </ul>
</section>

<h3>Section 3</h3>
<section>
    <ul
        <li><a>List Item not link 1</a></li>
        <li><a>List Item not link 2</a></li>
        <li><a>List Item not link 3</a></li>
    </ul>
</section>

<h3>Section 4</h3>
<section>
    <button class="button">Button</button>
    <button class="button-alternate">Button</button>

</section>